{% if site.googleplus_user %}
<section class="googleplus panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title">Google+</h3>
    </div>
    <div class="panel-body">

        <div class="g-page-container"><div class="g-page" data-width="210" data-href="//plus.google.com/+LeonisAtHolding" data-theme="dark" data-rel="publisher"></div>
        <!-- Place this tag after the last widget tag. -->
        <script type="text/javascript">
        window.___gcfg = {lang: 'de'};
        (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/platform.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
        </script>
    </div>
</div>
</section>
{% endif %}